body{
    display: flex;
    height: 100vh;
    background-color: darkgray;
    margin: 0;
    padding: 0;
}
.box{
    width: 100px;
    height: 100px;
    background-color: red;
    /* //long version
    transition-property: background-color, widht, height;
    transition-duration: .5s;
    transition-timing-function: ease-in-out; 
        //short version
    transition: all .5s ease-in-out; */

    /* //long version
    animation: boxes;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; */
    /* //short version */
    animation: boxes .5s ease-in-out infinite;

}
.box:hover{
    background-color: lightgreen;
    /* height: 200px;
    width: 50px; */
}
/* @keyframes boxes{
    0%{
        transform: translateX(0px);
        background-color: red;
    }
    25%{
        transform: translateX(100px);
        background-color: green;
    }
    50%{
        transform: translateX(200px);
        background-color: brown;
    }
    75%{
        transform: translateX(300px);
        background-color: yellow;
    }
    100%{
        transform: translateX(400px);
        background-color: orange;
    }
} */

@keyframes boxes{
    0%{
        transform: translateX(0px);
        background-color: red;
    }
    50%{
        transform: translateX(200px);
        background-color: green;
    }
    100%{
        transform: translateX(0px);
        background-color: red;
    }
}